# jekyll
_site
.jekyll-cache
_cache

CNAME

# nodejs modules
node_modules/

# intermediate data files
data/countries.json
data/responsesPublic.json
data/unmatched-country-indicators.json
data/globalResponses.json
data/globalResponseTracking.json


# environment variables
.env

#temp folders
temp/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.vscode/settings.json
Gemfile
Gemfile.lock
