---
layout: default
permalink: /maps/education-status/
type: map
libraries:
 - vuejs
 - tippy
 - worldmapcss
title: "School status / education modality"
description: "This map displays educational modalities at the country level as of last survey response."
image: /img/visualizations/education-status.jpg
style: |
  svg {fill: #DDDDDD;}
  {% include /worldmap.css %}
  .modality-in-person {fill: #1A49BF;}
  .modality-hybrid {fill: #26B1FF}
  .modality-remote {fill: #4FFFCD;}
  .modality-multiple {fill: #FFA733;}
  .modality-extended-break {fill: #DDFF00;}
  .modality-covid-closure {fill: #C7A7FF;}
  .modality-no-data {fill: #DDDDDD;}

  .map-key {max-width: 600px; margin: auto; font-size: smaller;}
  .map-key-color {height: 2rem; width: 2rem; margin: 0.2rem;}
---
<div class="spacer-5"></div>

<div id="vue-app" class="container mb-5" v-cloak>
  <template v-if="errorLoading">
    <div class="w-100 d-flex flex-column justify-content-center align-items-start">
      <h4>We encountered an error while loading this page.</h4>
      <span class="text-muted">${ errorMessage }</span>
    </div>  
  </template>
  <template v-else>
    <h1>{{ page.title }}</h1>
    <div class="my-3 d-flex flex-column">
      <span>
        This map displays educational modalities at the country level as of last survey response.
        (<a href="#notes">see notes below</a>)      
      </span>
    </div>

    <div class="row my-3">
      <div class="alert alert-success d-flex flex-column align-items-start">
        <label for="response-rounds-range2">Showing most recent response up to ${ mostRecentFilteredResponseDate }</label>
        <div class="d-flex flex-row justify-content-between w-100 text-start mt-2">
          <span class="mr-3" style="width: 8em">Change date</span>
          <input id="response-rounds-range2" type="range" class="custom-range w-100" :min="responseRoundsRange.min" :max="responseRoundsRange.max" v-model="filter_upToRoundId" class="w-50 mx-auto form-range">
        </div>
        <div class="d-flex flex-row align-items-center w-100 text-start mt-2">
          <span class="me-3">Select a grade level</span>
          <select class="px-2" v-model="selectedEducationStatusField">
            <option v-for="gradeLevelChoice of educationStatusGradeLevelChoices" v-bind:value="gradeLevelChoice.value">${gradeLevelChoice.label}</option>
          </select>  
        </div>
      </div>
      <div id="modality-map-gradelevel-selector" class="mt-4">
      </div>
      <div id="modality-map">
        {% include worldmap-no-titles.svg %}
      </div>
      <div class="my-3">
      </div>
      <div class="map-key w-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Legend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><svg class="modality-in-person map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>In-person education</strong>: Schools are open, and students have returned for in-person instruction.</td>
            </tr>
            <tr>
              <td><svg class="modality-hybrid map-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Hybrid education</strong>:	Schools are open combining remote learning and in-person instruction.</td>
            </tr>
            <tr>
              <td><svg class="modality-remote map-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Remote education</strong>:	Schools are closed and students are exclusively learning remotely.</td>
            </tr>
            <tr>
              <td><svg class="modality-multiple map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Mixed/multiple</strong>: Schools are operating with a combination of the following: in-person, hybrid, remote, and closed due to COVID-19.</td>
            </tr>
            <tr>
              <td><svg class="modality-extended-break map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Extended Break</strong>: Schools are closed due to a  regular school calendar closure (e.g., holiday).</td>
            </tr>
            <tr>
              <td><svg class="modality-covid-closure map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>No instruction/closed due to COVID-19</strong>:	Schools are closed due to COVID-19, and no education services currently available.</td>
            </tr>
            <tr>
              <td><svg class="modality-no-data map-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Unknown/Data Not Available</strong>: Unable to obtain information through publicly available data.</td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>

    <div class="row">
      <h2 id="notes" class="text-muted">Notes about this data</h2>
      <p>
        From the start of data collection until 19 April, 2021, we did not collect grade-level information; our responses represented Primary, Lower Secondary, and Upper Secondary grade-levels. On 20 April, 2021, we began collecting this information at grade-levels.
        To maintain compatibility with the earlier data which did not have grade-levels, the default selection on this map shows "Primary, Lower Secondary, and Upper Secondary" grade levels. For responses after 20 April, 2021, we synthesize this information by merging those three grade-level responses together.
      </p>
    </div>

    <div class="spacer-5"></div>

    <div class="row">
      <h5>Citation</h5>
      <p>
        Johns Hopkins University, World Bank & UNICEF (2021). COVID-19 Global Education Recovery Tracker. Last updated as of ${ mostRecentResponseDate }. Accessed on ${ (new Date()).toISOString().slice(0,10) }. Baltimore, Washington DC, New York: JHU, World Bank, UNICEF. 
      </p>
    </div>

    <div class="spacer-10"></div>
  </template>

  <div id="modality-map-hover" class="hidden">
    <div v-if="selectedCountry">
      <div><span style="font-size: x-large">${selectedCountry.countryName}</span></div>
      <hr />
      <div v-if="selectedCountry.$displayedResponse">
        <div><strong>Education Services</strong></div>
        <div v-if="selectedCountry.$displayedResponse.extendedBreakCode">
          <div v-if="selectedCountry.$displayedResponse.extendedBreakCode.includes('1')"><i class="fas fa-umbrella-beach"></i> Extended Break</div>
        </div>
        <div v-if="selectedCountry.$displayedResponse[selectedEducationStatusGradeLevelChoice.mappedFrom]">
          <div v-if="selectedCountry.$displayedResponse[selectedEducationStatusGradeLevelChoice.mappedFrom].includes('1')"><i class="fas fa-times"></i> Closed due to COVID-19</div>
          <div v-if="selectedCountry.$displayedResponse[selectedEducationStatusGradeLevelChoice.mappedFrom].includes('2')"><i class="fas fa-home"></i> Remote</div>
          <div v-if="selectedCountry.$displayedResponse[selectedEducationStatusGradeLevelChoice.mappedFrom].includes('3')"><i class="fas fa-school"></i> + <i class="fas fa-home"></i> Hybrid</div>
          <div v-if="selectedCountry.$displayedResponse[selectedEducationStatusGradeLevelChoice.mappedFrom].includes('4')"><i class="fas fa-school"></i> In person</div>
        </div>        
        <hr />
        <div><small>Updated ${selectedCountry.$displayedResponse.responseDate | iso8601ToLocaleDateString}</small></div>     
      </div>
      <div v-else><small>No data available.</small></div>
    </div>
  </div> 
  <div id="vaccine-map-hover" class="hidden">
    <div v-if="selectedCountry">
      <div><span style="font-size: x-large">${selectedCountry.countryName}</span></div>
      <div v-if="selectedCountry.$displayedResponse">
        <hr />
        <div v-if="selectedCountry.$displayedResponse.vaccineAvailabilityForTeachersCode">
          <div v-if="selectedCountry.$displayedResponse.vaccineAvailabilityForTeachersCode.includes('1')"><i class="fas fa-check"></i> Teachers and other school staff are currently being offered vaccine as a priority group</div>
          <div v-if="selectedCountry.$displayedResponse.vaccineAvailabilityForTeachersCode.includes('2')"><i class="fas fa-times"></i> Vaccine supply is limited; teachers and other school staff have not been prioritized to receive vaccine</div>
          <div v-if="selectedCountry.$displayedResponse.vaccineAvailabilityForTeachersCode.includes('5')"><i class="fas fa-clock"></i> Vaccine supply is limited; teachers and other school staff are a prioritized group and will be offered vaccine as supply increases</div>
          <div v-if="selectedCountry.$displayedResponse.vaccineAvailabilityForTeachersCode.includes('6')"><i class="fas fa-check"></i> Teachers and other school staff were once a prioritized group, but now vaccine supply exceeds demand and all adults in the country are eligible for vaccination</div>
          <div v-if="selectedCountry.$displayedResponse.vaccineAvailabilityForTeachersCode.includes('7')"><i class="fas fa-times"></i> Teachers and other school staff were never prioritized but now vaccine supply exceeds demand and all adults in the country are eligible for vaccination</div>
        </div>
        <div>
          <div v-if="selectedCountry.owidHasVaccine"><i class="fas fa-syringe"></i> Vaccines have been authorized for distribution.</div>
          <div v-else><i class="fas fa-times"></i> Vaccines have not been authorized for distribution.</div>
        </div>
        <hr />
        <div><small>Updated ${selectedCountry.$displayedResponse.responseDate | iso8601ToLocaleDateString }</small></div>     
      </div>
      <div v-else><small>No data available.</small></div>
    </div>
  </div>    
</div>

<script>

const vm = new Vue({
  el: '#vue-app',
  data() {
    return {
      countries: [],
      educationStatusGradeLevelChoices: [
        {label: 'Primary, Lower Secondary, and Upper Secondary', value: "$educationStatusClass", mappedFrom: "educationStatusCode"},
        {label: 'Pre-Primary', value: "$educationStatusPrePrimaryClass", mappedFrom: "educationStatusPrePrimaryCode"},
        {label: 'Primary', value: "$educationStatusPrimaryClass", mappedFrom: "educationStatusPrimaryCode"},
        {label: 'Lower Secondary', value: "$educationStatusLowerSecondaryClass", mappedFrom: "educationStatusLowerSecondaryCode"},
        {label: 'Upper Secondary', value: "$educationStatusUpperSecondaryClass", mappedFrom: "educationStatusUpperSecondaryCode"},
        {label: 'Higher', value: "$educationStatusHigherClass", mappedFrom: "educationStatusHigherCode"},
        {label: 'Technical / Vocational', value: "$educationStatusVocationalClass", mappedFrom: "educationStatusVocationalCode"}
      ],
      errorLoading: false,
      errorMessage: undefined,
      filter_upToRoundId: 20,
      filter_showNoResponses: true,
      responseRounds: [],
      selectedCountry: undefined,
      selectedEducationStatusField: undefined
    }
  },
  computed: {
    // access this computed property to render the data, it applies the rules set by this.filter
    displayedCountries () {
      return this.countries
        .map((country) => {
          country.$displayedResponse = country.$responsesReversed?.find((response) => {
            return response.roundId <= this.filter_upToRoundId
          })
          if (country.$displayedResponse) {
            country.$displayedResponse.$displayedEducationStatus = country.$displayedResponse[this.selectedEducationStatusField]
          }
          return country
        })
        .filter((country) => {
          return this.filter_showNoResponses ? true : country.$displayedResponse
        })
    },
    mostRecentFilteredResponseDate () {
      return this.displayedCountries
        .reduce((mrfrd, country) => {
          if (country.$displayedResponse?.responseDate) {
            return country.$displayedResponse.responseDate > mrfrd ? country.$displayedResponse.responseDate : mrfrd
          }
          return mrfrd
        }, '0000-00-00')
    },
    mostRecentResponseDate () {
      // flatten all the responses into an array and iterate through them to
      // determine the most recent date for all of them
      return this.countries
        .flatMap(country => country.responsesPublic || [] )
        .reduce((mrrd, response) => {
          return response.responseDate > mrrd ? response.responseDate : mrrd
        }, '0000-00-00')
    },
    responseRoundsRange() {
      return this.countries
        .flatMap(country => country.responsesPublic || [])
        .reduce((range, response) => {
          range.max = response.roundId > range.max ? response.roundId : range.max
          range.min = response.roundId < range.min ? response.roundId : range.min
          return range
        }, {min: Infinity, max: -Infinity})
    },
    selectedEducationStatusGradeLevelChoice () {
      return this.educationStatusGradeLevelChoices.find((choice) => {
        return choice.value === this.selectedEducationStatusField
      })
    }
  },
  delimiters: ['${','}'],  // need to use these because jekyll competes for {{ and }}
  filters: {
    iso8601ToLocaleDateString (value) {
      if (value) {
        return (new Date(value)).toLocaleDateString(undefined, {timeZone: 'UTC'})
      } else {
        return null
      }
    },
    outputEducationStatusCodeRow (value) {
      switch (value) {
        case '1':
          return `<td><i class="fas fa-times"></i></td><td>Closed due to COVID-19</td>`
          break
        case '2':
          return `<td><i class="fas fa-home"></i></td><td>Remote</td>`
          break
        case '3':
          return `<td><i class="fas fa-school"></i> + <i class="fas fa-home"></i></td><td>Hybrid</td>`
          break
        case '4':
          return `<td><i class="fas fa-school"></i></td><td>In-person</td>`
          break
      }
    }
  },
  methods: {
    findCountryByIso3166Alpha2Code (countries, code) {
      if (code && countries) {
        const findCode = code.toUpperCase()
        return countries.find(country => country.iso3166Alpha2Code === findCode)
      }
      return undefined
    },
    processCountries (countries) {
      const esglcItem = this.educationStatusGradeLevelChoices[0]

      for (const country of countries) {
        country.$responsesReversed = country.responsesPublic?.slice().reverse()

        country.responsesPublic?.forEach((response) => {
          // synthesize map class for education status map
          for (const esglcItem of this.educationStatusGradeLevelChoices) {
            this.processResponseStatusItem(response, esglcItem )
          }
        })
      }
      return countries
    },
    processResponseStatusItem (response, esglcInfo) {
      if (response.extendedBreakCode?.includes('1')) {
        response[esglcInfo.value] = 'modality-extended-break'
      } else if (response[esglcInfo.mappedFrom]) {
        if (response[esglcInfo.mappedFrom].length > 1) {
          response[esglcInfo.value] = 'modality-multiple'
        } else {
          switch (response[esglcInfo.mappedFrom][0]) {
            case '1':
              response[esglcInfo.value] = 'modality-covid-closure'
            break
            case '2':
              response[esglcInfo.value] = 'modality-remote'
            break
            case '3':
              response[esglcInfo.value] = "modality-hybrid"
            break
            case '4':
              response[esglcInfo.value] = 'modality-in-person'
            break
          }
        }
      }
    },
    renderEducationStatusMap () {
      // clear any map classes which may have been applied
      document.querySelectorAll('#svg-worldmap .modality-extended-break, #svg-worldmap .modality-multiple, #svg-worldmap .modality-covid-closure, #svg-worldmap .modality-remote, #svg-worldmap .modality-hybrid, #svg-worldmap .modality-in-person')
        .forEach((element) => {element.classList.remove('modality-extended-break', 'modality-multiple', 'modality-covid-closure', 'modality-remote', 'modality-hybrid', 'modality-in-person')})

      // iterate through the currently displayed countries and apply the appropriate style to the map
      for (const country of this.displayedCountries) {
        if (country.$displayedResponse && country.iso3166Alpha2Code) {
          document.querySelector(`#svg-worldmap #${country.iso3166Alpha2Code.toLowerCase()}`)
            ?.classList.add(country.$displayedResponse[this.selectedEducationStatusField])
        }
      }
    }
  },
  watch: {
    countries (newValue, oldValue) {
      this.renderEducationStatusMap()
    },
    filter_upToRoundId (newValue, oldValue) {
      this.renderEducationStatusMap()
    },
    selectedEducationStatusField (newValue, oldValue) {
      this.renderEducationStatusMap()
    }
  },
  async created() {
    // load critical data in this block; a failure will cause an error message to be diplayed
    try {
      const globalV2 = await fetch('/data/global.v2.min.json')
      if (globalV2.ok) {
        const data = await globalV2.json()

        this.countries = this.processCountries(data.countries)
        this.responseRounds = data.responseRounds
      } else {
        throw new Error(`HTTP Error ${globalV2.status}: ${globalV2.statusText} (${globalV2globalV2.url.split('/').pop()})`)
      }
    } catch (e) {
      console.error(e)
      this.errorLoading = true
      this.errorMessage = e.message
    }
  },
  mounted () {
    // initialize the map tooltips
    tippy('#svg-worldmap > g, #svg-worldmap > path', {
      followCursor: true,
      allowHTML: true,
      placement: 'right',
      onShow(instance) {
        const code = instance.reference.attributes.id.value
        const country = vm.$options.methods.findCountryByIso3166Alpha2Code(vm.displayedCountries, code)
        if (country) {
          vm.$data.selectedCountry = country
          Vue.nextTick(() =>{
            instance.setContent(document.getElementById('modality-map-hover').innerHTML)
          }, instance)
        } else {
          return false
        }
      }
    })

    this.selectedEducationStatusField = '$educationStatusClass'
  }
})

</script>