<!--
this represents a story summary. It knows how to render the summary based upon whether it's a blog post or infographic
-->
<br>

<div class="row g-0 bg-light position-relative rounded">
  <div class="col-md-4 mb-md-0 p-md-4">
    {% if post.categories contains 'infographic' %}
    <img src="/img/whats-new-infographic.png" alt="{% if post.image-alt-text %}{{ post.image-alt-text }}{% else %}{{ post.title }}{% endif %}" class="img img-fluid">
    {% else %}
    <img src="{% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ site.image }}{% endif %}" class="w-100 rounded" alt="{% if post.image-alt-text %}{{ post.image-alt-text }}{% else %}{{ post.title }}{% endif %}">
    {% endif %}
  </div>
  <div class="col-md-8 p-4 ps-md-0">
    <h5 class="mt-0">
      {{ post.title }} {% if post.categories contains 'infographic' %}{{ post.date | date: '%Y %B %d' }}{% endif %}
    </h5>
    <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</p>
    {% if post.categories contains 'infographic' %}
    <a href="{{ post.url }}" class="btn btn-primary stretched-link">View or download</a>
    {% else %}
    <a href="{{ post.url }}" class="btn btn-primary stretched-link">Read story</a>
    {% endif %}
  </div>
</div>

