---
layout: default
---
<div class="spacer-5"></div>
<article class="container">

    <div class="row">
      <h2>{{ page.title }}</h2>
      <h4 class="text-muted"> {{ page.description }}</h4>
    </div>
    <div class="row my-4 px-3">
      <div class="col-md-3" id="logo-jhu" style="height: 75px; background-image: url(/img/eSchoolPlus-Blue.svg); background-repeat: no-repeat; background-size: contain; background-position: center center;"></div>
      <div class="col-md-1"></div>
      <div class="col-md-3" id="logo-wb" style="height: 75px; background-image: url(/img/WB-WBG-horizontal-RGB-high.png); background-repeat: no-repeat; background-size: contain; background-position: center center;"></div>
      <div class="col-md-1"></div>
      <div class="col-md-3" id="logo-unicef" style="height: 57px; background-image: url(/img/UNICEF_Logo.svg); background-repeat: no-repeat; background-size: contain; background-position: center center;"></div>
    </div>
    <aside>
      <div class="row alert alert-info mx-2" role="alert">
        <h4 class="alert-heading">Media Contacts</h4>
        <ul>
          <li>Sara Alhattab / UNICEF New York / <a href="tel:+19179576356">+1-917-957-6536</a> / <a
              href="mailto:salhattab@unicef.org">salhattab@unicef.org</a> / <a
              href="https://www.unicef.org/press-releases/new-global-tracker-measure-pandemics-impact-education-worldwide">UNICEF
              release</a></li>
          <li>Jill Rosen / Johns Hopkins / <a href="tel:+14435478805">+1-443-547-8805</a> / <a
              href="mailto:jrosen@jhu.edu">jrosen@jhu.edu</a> / <a
              href="https://releases.jhu.edu/2021/03/26/new-global-tracker-to-measure-pandemics-impact-on-education-worldwide/">Johns
              Hopkins release</a></li>
          <li>Kristyn Schrader-King / World Bank / <a href="mailto:kschrader@worldbank.org">kschrader@worldbank.org</a> /
            <a
              href="https://www.worldbank.org/en/news/press-release/2021/03/26/new-global-tracker-to-measure-pandemic-s-impact-on-education-worldwide">World
              Bank release</a>
          </li>
        </ul>
      </div>  
    </aside>

    {{ content }}
  
</article>
<div class="spacer-5"></div>